<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>Cibtron WB-001</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Enlace a Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Lato', sans-serif;
            background-color: #f4f4f9;
            color: #333;
        }

        header {
            background-color: #343a40;
            color: #fff;
            padding: 15px 20px;
        }

        header h1 {
            margin: 0;
            font-size: 1.5rem;
        }

        header button {
            background-color: #e63946;
            border: none;
            padding: 10px 15px;
            color: #fff;
            border-radius: 5px;
            font-weight: bold;
            cursor: pointer;
            font-size: 0.9rem;
        }

        header button:hover {
            background-color: #d62828;
        }

        .container {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
            font-weight: 700;
        }

        #jobLogs {
            border: 1px solid #ccc;
            padding: 15px;
            height: 200px;
            overflow-y: auto;
            background-color: #f9f9f9;
            border-radius: 5px;
            margin-top: 30px;
        }

        footer {
            text-align: center;
            padding: 15px;
            background-color: #343a40;
            color: #fff;
            margin-top: 30px;
        }

        /* Estilos para inputs de solo lectura */
        input[readonly] {
            background-color: #e9ecef;
        }

        /* Contenedor para desplazamiento horizontal */
        .horizontal-scroll {
            overflow-x: auto;
            white-space: nowrap;
            padding-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .horizontal-scroll::-webkit-scrollbar {
            height: 10px;
        }

        .horizontal-scroll::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
        }

        .horizontal-scroll::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        /* Tarjetas */
        #certificatesList .card {
            display: inline-block;
            width: 250px;
            /* Reducir tamaño de la tarjeta */
            margin: 10px;
            flex-shrink: 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            border-radius: 8px;
        }

        /* Ajustes de texto */
        .card .card-title {
            font-size: 0.9rem;
            /* Hacer más pequeño el ID */
            white-space: nowrap;
            /* Evitar saltos de línea */
            overflow: hidden;
            /* Ocultar texto desbordante */
            text-overflow: ellipsis;
            /* Mostrar puntos suspensivos si el texto es demasiado largo */
        }

        .card .card-text {
            font-size: 0.85rem;
            /* Reducir el tamaño del texto de la tarjeta */
            line-height: 1.2;
            /* Espaciado entre líneas más compacto */
        }

        .btn-sm {
            font-size: 0.8rem;
            /* Botón más pequeño */
            padding: 5px 10px;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            /* Opcional: color de fondo */
        }

        .logo-title {
            display: flex;
            align-items: center;
            gap: 10px;
            /* Espaciado entre el logo y el título */
        }

        .logo-title img {
            display: block;
            /* Asegura que el logo no tenga espacio extra alrededor */
        }
    </style>
</head>

<body onload="initializeForm();">
    <header>
        <div class="header-content">
            <div class="logo-title">
                <!-- Inserta el logo SVG aquí usando la etiqueta <img> -->
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo de WavesByte" width="50"
                    height="50">
                <h1>WavesByte Cibtron WB-001</h1>
            </div>
            <button onclick="logout()">Cerrar sesión</button>
        </div>
    </header>


    <div class="container mt-4">
        <h2 class="text-center mb-4">Programaciones</h2>
        <div class="horizontal-scroll">
            <div id="certificatesList" class="d-flex">
                <!-- Las tarjetas se agregarán aquí dinámicamente -->
            </div>
        </div>
    </div>







    <!-- Modal para detalles -->
    <div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Detalles de la programación</h5>
                </div>
                <div class="modal-body">
                    <div id="modalContent"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <div class="container">

        <h2>Configuración del Taxímetro Cibtron WB-001</h2>

        <div style="display: flex; justify-content: center; align-items: center;">
            <div>
                <label>Estado del Puerto:</label>
                <span id="port-status" style="font-weight: bold; color: gray;">Desconocido</span>
            </div>
        </div>

        <form id="jobForm" onsubmit="executeAndProgram(event)">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="port">Estado del taxímetro:</label>
                    <div class="input-group">
                        <select id="port" name="port" class="form-control" required>
                            <option value="" disabled selected>Esperando detección...</option>
                        </select>
                        <div class="input-group-append">
                            <button id="updatePortsBtn" class="btn btn-outline-secondary"
                                type="button">Actualizar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="USER">Usuario:</label>
                    <input type="text" id="USER" name="USER" class="form-control" readonly required>
                </div>
            </div>

            <input type="hidden" id="UUID" name="UUID" required readonly />
            <input type="hidden" id="MARCA_TAXIMETRO" name="MARCA_TAXIMETRO" required readonly />
            <input type="hidden" id="MODELO_TAXIMETRO" name="MODELO_TAXIMETRO" required readonly />

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="NUMERO_SERIAL">NÚMERO SERIAL:</label>
                    <div class="input-group">
                        <input type="text" id="NUMERO_SERIAL" name="NUMERO_SERIAL" class="form-control"
                            title="Es el número serial del taxímetro" readonly required>
                        <div class="input-group-append">
                            <button id="searchSerialBtn" class="btn btn-outline-secondary" type="button">Rellenar
                                Formulario</button>
                            <button id="searchCertificateBtn" class="btn btn-primary ml-2" type="button">Buscar
                                Programaciones</button>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="NUMERO_SELLO">NÚMERO DE SELLO:</label>
                    <input type="text" id="NUMERO_SELLO" name="NUMERO_SELLO" class="form-control" pattern="^\d+$"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')" title="Solo se permiten números"
                        placeholder="Ejemplo: 1" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="NOMBRE_PROPIETARIO">NOMBRE DEL PROPIETARIO:</label>
                    <input type="text" id="NOMBRE_PROPIETARIO" name="NOMBRE_PROPIETARIO" class="form-control"
                        pattern="^[A-ZÑ ]+$" oninput="this.value = this.value.toUpperCase().replace(/[^A-ZÑ ]/g, '')"
                        title="Solo letras mayúsculas" placeholder="Ejemplo: JUAN" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="APELLIDO_PROPIETARIO">APELLIDO DEL PROPIETARIO:</label>
                    <input type="text" id="APELLIDO_PROPIETARIO" name="APELLIDO_PROPIETARIO" class="form-control"
                        pattern="^[A-ZÑ ]+$" oninput="this.value = this.value.toUpperCase().replace(/[^A-ZÑ ]/g, '')"
                        title="Solo letras mayúsculas" placeholder="Ejemplo: PEREZ" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="MARCA_VEHICULO">MARCA DEL VEHICULO:</label>
                    <input type="text" id="MARCA_VEHICULO" name="MARCA_VEHICULO" class="form-control"
                        pattern="^[A-ZÑ ]+$" oninput="this.value = this.value.toUpperCase().replace(/[^A-ZÑ ]/g, '')"
                        title="Solo letras mayúsculas" placeholder="Ejemplo: NISSAN" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="YEAR_VEHICULO">AÑO DEL VEHICULO:</label>
                    <input type="text" id="YEAR_VEHICULO" name="YEAR_VEHICULO" class="form-control" pattern="^\d{4}$"
                        maxlength="4" oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                        title="Solo se permiten números de 4 dígitos" placeholder="Ejemplo: 2020" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="PATENTE">PATENTE (AAAA-00 o AA00-00):</label>
                    <input type="text" id="PATENTE" name="PATENTE" class="form-control"
                        pattern="^([A-Z]{4}-\d{2}|[A-Z]{2}\d{2}-\d{2})$"
                        title="Debe cumplir con el formato AAAA-00 o AA00-00" placeholder="Ejemplo: ABCD-12 o AB12-34"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="RESOLUCION">RESOLUCIÓN (decimal):</label>
                    <input type="number" id="RESOLUCION" name="RESOLUCION" class="form-control" step="any" min="0"
                        placeholder="Ejemplo: 1500.45" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="CANTIDAD_PULSOS">DIVISOR PULSOS:</label>
                    <input type="number" id="CANTIDAD_PULSOS" name="CANTIDAD_PULSOS" class="form-control" step="any"
                        min="0" placeholder="Ejemplo: 1" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="TARIFA_INICIAL">TARIFA INICIAL:</label>
                    <input type="number" id="TARIFA_INICIAL" name="TARIFA_INICIAL" class="form-control" min="0"
                        step="any" placeholder="Ejemplo: 450" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="TARIFA_CAIDA_PARCIAL_METROS">PRECIO CAÍDA METROS:</label>
                    <input type="number" id="TARIFA_CAIDA_PARCIAL_METROS" name="TARIFA_CAIDA_PARCIAL_METROS"
                        class="form-control" min="0" step="any" placeholder="Ejemplo: 200" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="TARIFA_CAIDA_PARCIAL_MINUTO">PRECIO CAÍDA MINUTO:</label>
                    <input type="number" id="TARIFA_CAIDA_PARCIAL_MINUTO" name="TARIFA_CAIDA_PARCIAL_MINUTO"
                        class="form-control" min="0" step="any" placeholder="Ejemplo: 200" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="MOSTRAR_VELOCIDAD_EN_PANTALLA">MOSTRAR METROS EN PANTALLA:</label>
                    <select id="MOSTRAR_VELOCIDAD_EN_PANTALLA" name="MOSTRAR_VELOCIDAD_EN_PANTALLA" class="form-control"
                        required>
                        <option value="false">No</option>
                        <option value="true">Sí</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="COLOR_FONDO_PANTALLA">COLOR DE FONDO:</label>
                    <select id="COLOR_FONDO_PANTALLA" name="COLOR_FONDO_PANTALLA" class="form-control" required>
                        <option value="TFT_BLACK">Negro</option>
                        <option value="TFT_YELLOW">Amarillo</option>
                        <option value="TFT_WHITE">Blanco</option>
                        <option value="TFT_NAVY">Azul oscuro</option>
                        <option value="TFT_DARKGREEN">Verde oscuro</option>
                        <option value="TFT_DARKCYAN">Cian oscuro</option>
                        <option value="TFT_MAROON">Granate</option>
                        <option value="TFT_PURPLE">Púrpura</option>
                        <option value="TFT_OLIVE">Oliva</option>
                        <option value="TFT_LIGHTGREY">Gris claro</option>
                        <option value="TFT_DARKGREY">Gris oscuro</option>
                        <option value="TFT_BLUE">Azul</option>
                        <option value="TFT_GREEN">Verde</option>
                        <option value="TFT_CYAN">Cian</option>
                        <option value="TFT_RED">Rojo</option>
                        <option value="TFT_MAGENTA">Magenta</option>
                        <option value="TFT_ORANGE">Naranja</option>
                        <option value="TFT_GREENYELLOW">Verde amarillento</option>
                        <option value="TFT_PINK">Rosa</option>
                        <option value="TFT_BROWN">Marrón</option>
                        <option value="TFT_GOLD">Oro</option>
                        <option value="TFT_SILVER">Plata</option>
                        <option value="TFT_SKYBLUE">Azul cielo</option>
                        <option value="TFT_VIOLET">Violeta</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="COLOR_LETRAS_PANTALLA">COLOR DE LETRAS:</label>
                    <select id="COLOR_LETRAS_PANTALLA" name="COLOR_LETRAS_PANTALLA" class="form-control" required>
                        <option value="TFT_YELLOW">Amarillo</option>
                        <option value="TFT_BLACK">Negro</option>
                        <option value="TFT_WHITE">Blanco</option>
                        <option value="TFT_NAVY">Azul oscuro</option>
                        <option value="TFT_DARKGREEN">Verde oscuro</option>
                        <option value="TFT_DARKCYAN">Cian oscuro</option>
                        <option value="TFT_MAROON">Granate</option>
                        <option value="TFT_PURPLE">Púrpura</option>
                        <option value="TFT_OLIVE">Oliva</option>
                        <option value="TFT_LIGHTGREY">Gris claro</option>
                        <option value="TFT_DARKGREY">Gris oscuro</option>
                        <option value="TFT_BLUE">Azul</option>
                        <option value="TFT_GREEN">Verde</option>
                        <option value="TFT_CYAN">Cian</option>
                        <option value="TFT_RED">Rojo</option>
                        <option value="TFT_MAGENTA">Magenta</option>
                        <option value="TFT_ORANGE">Naranja</option>
                        <option value="TFT_GREENYELLOW">Verde amarillento</option>
                        <option value="TFT_PINK">Rosa</option>
                        <option value="TFT_BROWN">Marrón</option>
                        <option value="TFT_GOLD">Oro</option>
                        <option value="TFT_SILVER">Plata</option>
                        <option value="TFT_SKYBLUE">Azul cielo</option>
                        <option value="TFT_VIOLET">Violeta</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="COLOR_PRECIO_PANTALLA">COLOR DE PRECIO:</label>
                    <select id="COLOR_PRECIO_PANTALLA" name="COLOR_PRECIO_PANTALLA" class="form-control" required>
                        <option value="TFT_WHITE">Blanco</option>
                        <option value="TFT_BLACK">Negro</option>
                        <option value="TFT_YELLOW">Amarillo</option>
                        <option value="TFT_NAVY">Azul oscuro</option>
                        <option value="TFT_DARKGREEN">Verde oscuro</option>
                        <option value="TFT_DARKCYAN">Cian oscuro</option>
                        <option value="TFT_MAROON">Granate</option>
                        <option value="TFT_PURPLE">Púrpura</option>
                        <option value="TFT_OLIVE">Oliva</option>
                        <option value="TFT_LIGHTGREY">Gris claro</option>
                        <option value="TFT_DARKGREY">Gris oscuro</option>
                        <option value="TFT_BLUE">Azul</option>
                        <option value="TFT_GREEN">Verde</option>
                        <option value="TFT_CYAN">Cian</option>
                        <option value="TFT_RED">Rojo</option>
                        <option value="TFT_MAGENTA">Magenta</option>
                        <option value="TFT_ORANGE">Naranja</option>
                        <option value="TFT_GREENYELLOW">Verde amarillento</option>
                        <option value="TFT_PINK">Rosa</option>
                        <option value="TFT_BROWN">Marrón</option>
                        <option value="TFT_GOLD">Oro</option>
                        <option value="TFT_SILVER">Plata</option>
                        <option value="TFT_SKYBLUE">Azul cielo</option>
                        <option value="TFT_VIOLET">Violeta</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="PROPAGANDA_1">PROPAGANDA 1:</label>
                    <input type="text" id="PROPAGANDA_1" name="PROPAGANDA_1" class="form-control" maxlength="20"
                        placeholder="Máx. 20 caracteres" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="PROPAGANDA_2">PROPAGANDA 2:</label>
                    <input type="text" id="PROPAGANDA_2" name="PROPAGANDA_2" class="form-control" maxlength="20"
                        placeholder="Máx. 20 caracteres" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="PROPAGANDA_3">PROPAGANDA 3:</label>
                    <input type="text" id="PROPAGANDA_3" name="PROPAGANDA_3" class="form-control" maxlength="20"
                        placeholder="Máx. 20 caracteres" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="PROPAGANDA_4">PROPAGANDA 4:</label>
                    <input type="text" id="PROPAGANDA_4" name="PROPAGANDA_4" class="form-control" maxlength="20"
                        placeholder="Máx. 20 caracteres" required>
                </div>
            </div>

            <button id="executeButton" type="submit" class="btn btn-primary btn-block" disabled>
                Programar WavesByte Cibtron WB-001
            </button>
        </form>

        <h3 class="mt-5">Estado del proceso</h3>
        <div id="jobLogs"></div>

    </div>

    <footer>
        WavesByte &copy;
    </footer>

    <!-- Enlace a jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.socket.io/4.5.1/socket.io.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        const socket = io("http://127.0.0.1:5000"); // Cambia por la URL de tu servidor


        // Completar USER y UUID dinámicamente
        function initializeForm() {
            const email = "{{ email }}"; // Sustituido dinámicamente en el backend
            document.getElementById("USER").value = email.split("@")[0];
            document.getElementById("UUID").value = generateUUID();
            document.getElementById("MARCA_TAXIMETRO").value = "CIBTRON";
            document.getElementById("MODELO_TAXIMETRO").value = "WB-001";
            executeButton.disabled = true; // Deshabilitar el botón inicialmente
        }

        function checkFormValidity() {
            const port = document.getElementById("port").value;
            // jobForm es el formulario con id="jobForm"
            if (jobForm.checkValidity() && port !== "") {
                executeButton.disabled = false;
            } else {
                executeButton.disabled = true;
            }
        }





        // Generar un UUID
        function generateUUID() {
            return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(
                /[xy]/g,
                function (c) {
                    const r = (Math.random() * 16) | 0,
                        v = c === "x" ? r : (r & 0x3) | 0x8;
                    return v.toString(16);
                }
            );
        }

        // Escuchar actualizaciones de log desde el servidor
        socket.on("log_update", (data) => {
            console.log("Evento log_update recibido:", data);
            const logContainer = document.getElementById("jobLogs");
            logContainer.innerHTML += `<p><strong>Status:</strong> ${data.status}</p>`;
            logContainer.scrollTop = logContainer.scrollHeight;

            if (data.status.includes("WavesByte Cibtron WB-001 programado exitosamente")) {
                alert("¡El Taxímetro WavesByte Cibtron WB-001 ha sido programado con éxito!");

                setTimeout(() => {
                    location.reload();
                }, 3000); // Cambia el tiempo según prefieras (3000 ms = 3 segundos)
            }

        });

        socket.on("test_event", (data) => {
            console.log("Evento 'test_event' recibido:", data);

            // Opcional: Muestra el mensaje en un contenedor en la página
            const logContainer = document.getElementById("jobLogs");
            logContainer.innerHTML += `<p><strong>Test Event:</strong> ${data.message}</p>`;
            logContainer.scrollTop = logContainer.scrollHeight;
        });


        // Escuchar evento de número serial detectado
        socket.on("serial_detected", (data) => {
            console.log("Escuchando evento 'serial_detected'...");
            console.log("Datos recibidos:", data);
            const numeroSerialInput = document.getElementById("NUMERO_SERIAL");
            if (numeroSerialInput) {
                console.log("Campo de número serial encontrado, actualizando...");
                numeroSerialInput.value = data.serial; // Completa el campo con el número serial
            } else {
                console.error("Campo de número serial no encontrado en el DOM.");
            }
        });



        socket.on("connect", () => {
            console.log("Conexión establecida con el servidor.");
        });

        socket.on("disconnect", () => {
            console.log("Conexión perdida con el servidor.");
        });

        socket.on("connect_error", (error) => {
            console.error("Error al conectar con el servidor:", error);
        });


        function clearForm() {
            const form = document.getElementById("jobForm");
            const userField = document.getElementById("USER");
            const userValue = userField.value;
            const uuidField = document.getElementById("UUID");
            const uuidValue = uuidField.value;
            const marcaField = document.getElementById("MARCA_TAXIMETRO");
            const marcaValue = marcaField.value;
            const modeloField = document.getElementById("MODELO_TAXIMETRO");
            const modeloValue = modeloField.value;
            form.reset();
            userField.value = userValue;
            uuidField.value = uuidValue;
            marcaField.value = marcaValue;
            modeloField.value = modeloValue;
            document.getElementById("port").innerHTML = '<option value="" disabled selected>Esperando detección...</option>';
        }


        // Escuchar actualizaciones de puertos
        socket.on("update_ports", (ports) => {
            console.log("Evento 'update_ports' recibido:", ports);

            const portSelect = document.getElementById("port");
            if (portSelect) {
                portSelect.innerHTML = ""; // Limpia las opciones antes de llenarlas

                if (ports.length > 0) {
                    ports.forEach((port) => {
                        const option = document.createElement("option");
                        option.value = port.device;
                        option.textContent = `${port.description} (${port.device})`;
                        portSelect.appendChild(option);
                    });
                } else {
                    const option = document.createElement("option");
                    option.value = "";
                    option.textContent = "No se detectó el taxímetro";
                    portSelect.appendChild(option);
                }
            }
        });

        // Ejecutar trabajo y programar el dispositivo
        async function executeAndProgram(event) {
            event.preventDefault();
            const formData = new FormData(document.getElementById("jobForm"));
            const selectedPort = document.getElementById("port").value;

            if (!selectedPort) {
                alert("Debe conectar el taxímetro antes de ejecutar el trabajo.");
                return;
            }

            formData.append("port", selectedPort);
            const logContainer = document.getElementById("jobLogs");
            logContainer.innerHTML = `<p><strong>Status:</strong> Comenzó la ejecución del trabajo y la programación, espere unos minutos...</p>`;

            try {
                // Ejecutar el trabajo
                const response = await fetch("/execute_and_program", {
                    method: "POST",
                    body: formData,
                });
                const result = await response.json();

                if (result.status === "success") {
                    // Iniciar monitoreo de logs
                    const user = formData.get("USER");
                    const uuid = formData.get("UUID");
                } else {
                    logContainer.innerHTML += `<p><strong>Status:</strong> Error: ${result.message}</p>`;
                    alert(`Error: ${result.message}`);
                }
            } catch (error) {
                logContainer.innerHTML += `<p><strong>Status:</strong> Error: ${error.message}</p>`;
                alert(`Error al ejecutar el trabajo: ${error.message}`);
            }
        }

        function logout() {
            // Confirmación del usuario
            if (!confirm("¿Estás seguro de que deseas cerrar sesión?")) {
                return;
            }

            // Hacer una petición al backend para eliminar la cookie
            fetch('/logout', {
                method: 'POST',
                credentials: 'include' // Para enviar las cookies en la petición
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "success") {
                        // Mostrar mensaje de cierre de sesión
                        alert("Sesión cerrada correctamente.");

                        // Redirigir al usuario a la página de inicio de sesión
                        window.location.href = "/login";
                    } else {
                        alert("Error al cerrar sesión.");
                    }
                })
                .catch(error => {
                    console.error("Error al cerrar sesión:", error);
                    alert("Error al cerrar sesión.");
                });
        }

        const jobForm = document.getElementById("jobForm");
        const executeButton = document.getElementById("executeButton");

        jobForm.addEventListener('input', checkFormValidity);
        jobForm.addEventListener('change', checkFormValidity);


        document.getElementById('searchSerialBtn').addEventListener('click', async () => {
            const serialNumber = document.getElementById('NUMERO_SERIAL').value;

            if (!serialNumber) {
                alert("Por favor, ingresa un número serial.");
                return;
            }

            try {
                const response = await fetch(`/search_serial?serial_number=${serialNumber}`);
                const result = await response.json();

                if (result.status === "success") {
                    const data = result.data.env_vars;

                    // Completar los campos del formulario
                    document.getElementById("MARCA_TAXIMETRO").value = data.MARCA_TAXIMETRO || "";
                    document.getElementById("MODELO_TAXIMETRO").value = data.MODELO_TAXIMETRO || "";
                    document.getElementById("NUMERO_SELLO").value = data.NUMERO_SELLO || "";
                    document.getElementById("NOMBRE_PROPIETARIO").value = data.NOMBRE_PROPIETARIO || "";
                    document.getElementById("APELLIDO_PROPIETARIO").value = data.APELLIDO_PROPIETARIO || "";
                    document.getElementById("MARCA_VEHICULO").value = data.MARCA_VEHICULO || "";
                    document.getElementById("YEAR_VEHICULO").value = data.YEAR_VEHICULO || "";
                    document.getElementById("PATENTE").value = data.PATENTE || "";
                    document.getElementById("RESOLUCION").value = data.RESOLUCION || "";
                    document.getElementById("CANTIDAD_PULSOS").value = data.CANTIDAD_PULSOS || "";
                    document.getElementById("TARIFA_INICIAL").value = data.TARIFA_INICIAL || "";
                    document.getElementById("TARIFA_CAIDA_PARCIAL_METROS").value = data.TARIFA_CAIDA_PARCIAL_METROS || "";
                    document.getElementById("TARIFA_CAIDA_PARCIAL_MINUTO").value = data.TARIFA_CAIDA_PARCIAL_MINUTO || "";
                    document.getElementById("MOSTRAR_VELOCIDAD_EN_PANTALLA").value = data.MOSTRAR_VELOCIDAD_EN_PANTALLA || "";
                    document.getElementById("COLOR_FONDO_PANTALLA").value = data.COLOR_FONDO_PANTALLA || "";
                    document.getElementById("COLOR_LETRAS_PANTALLA").value = data.COLOR_LETRAS_PANTALLA || "";
                    document.getElementById("COLOR_PRECIO_PANTALLA").value = data.COLOR_PRECIO_PANTALLA || "";
                    document.getElementById("PROPAGANDA_1").value = data.PROPAGANDA_1 || "";
                    document.getElementById("PROPAGANDA_2").value = data.PROPAGANDA_2 || "";
                    document.getElementById("PROPAGANDA_3").value = data.PROPAGANDA_3 || "";
                    document.getElementById("PROPAGANDA_4").value = data.PROPAGANDA_4 || "";

                    alert("Datos completados exitosamente.");
                } else {
                    alert(result.message || "No se encontró información.");
                }
            } catch (error) {
                console.error("Error al buscar el número serial:", error);
                alert("Ocurrió un error al buscar el número serial.");
            }
        });



        document.getElementById('searchCertificateBtn').addEventListener('click', async () => {
            const serialNumber = document.getElementById('NUMERO_SERIAL').value;

            if (!serialNumber) {
                alert("Por favor, asegúrate de que el número serial esté presente.");
                return;
            }

            try {
                const response = await fetch(`/search_certificates?serial_number=${serialNumber}`);
                const result = await response.json();
                const certificatesList = document.getElementById("certificatesList");

                certificatesList.innerHTML = ""; // Limpiar resultados previos

                if (result.status === "success" && Array.isArray(result.data) && result.data.length > 0) {
                    result.data.forEach(cert => {
                        const data = cert.document_data;

                        // Crear tarjeta
                        const card = document.createElement("div");
                        card.className = "card";

                        card.innerHTML = `
                    <div class="card-body">
                        <h5 class="card-title">ID: ${cert.document_id}</h5>
                        <p class="card-text">
                            <strong>Fecha:</strong> ${new Date(data.date).toLocaleString()}<br>
                            <strong>Nombre:</strong> ${data.env_vars?.NOMBRE_PROPIETARIO || "N/A"}<br>
                            <strong>Apellido:</strong> ${data.env_vars?.APELLIDO_PROPIETARIO || "N/A"}<br>
                            <strong>Patente:</strong> ${data.env_vars?.PATENTE || "N/A"}
                        </p>
                        <button class="btn btn-primary btn-sm" onclick='showDetails(${JSON.stringify(data)})'>
                            <i class="fas fa-eye"></i> Ver detalles
                        </button>
                    </div>
                `;
                        certificatesList.appendChild(card);
                    });
                } else if (result.status === "success" && result.data.length === 0) {
                    certificatesList.innerHTML = "<p>No se encontraron programaciones previas para este número serial.</p>";
                } else {
                    certificatesList.innerHTML = `<p>Error en la respuesta: ${JSON.stringify(result)}</p>`;
                }
            } catch (error) {
                console.error("Error al buscar programaciones previas:", error);
                certificatesList.innerHTML = `<p>Ocurrió un error: ${error.message}</p>`;
            }
        });

        // Función para mostrar el modal con detalles
        function showDetails(data) {
            const modalContent = document.getElementById("modalContent");
            modalContent.innerHTML = ""; // Limpiar contenido previo

            if (data.env_vars && typeof data.env_vars === "object") {
                const fieldMapping = {
                    UUID: "UUID",
                    USER: "PROGRAMADOR",
                    DATE: "FECHA DE PROGRAMACIÓN",
                    NUMERO_SERIAL: "NÚMERO DE SERIE",
                    NUMERO_SELLO: "NÚMERO DE SELLO",
                    MARCA_TAXIMETRO: "MARCA DEL TAXÍMETRO",
                    MODELO_TAXIMETRO: "MODELO DEL TAXÍMETRO",
                    NOMBRE_PROPIETARIO: "NOMBRE DEL PROPIETARIO",
                    APELLIDO_PROPIETARIO: "APELLIDO DEL PROPIETARIO",
                    MARCA_VEHICULO: "MARCA DEL VEHÍCULO",
                    YEAR_VEHICULO: "AÑO DEL VEHÍCULO",
                    PATENTE: "PATENTE",
                    RESOLUCION: "RESOLUCIÓN",
                    CANTIDAD_PULSOS: "DIVISOR",
                    TARIFA_INICIAL: "TARIFA INICIAL",
                    TARIFA_CAIDA_PARCIAL_METROS: "TARIFA CAÍDA PARCIAL METROS",
                    TARIFA_CAIDA_PARCIAL_MINUTO: "TARIFA CAÍDA PARCIAL MINUTOS",
                    MOSTRAR_VELOCIDAD_EN_PANTALLA: "MOSTRAR METROS EN PANTALLA",
                    COLOR_FONDO_PANTALLA: "COLOR DE FONDO EN PANTALLA",
                    COLOR_LETRAS_PANTALLA: "COLOR DE LETRAS EN PANTALLA",
                    COLOR_PRECIO_PANTALLA: "COLOR DE PRECIO EN PANTALLA",
                    PROPAGANDA_1: "PROPAGANDA Nº1",
                    PROPAGANDA_2: "PROPAGANDA Nº2",
                    PROPAGANDA_3: "PROPAGANDA Nº3",
                    PROPAGANDA_4: "PROPAGANDA Nº4"
                };
                for (const [key, title] of Object.entries(fieldMapping)) {
                    const value = data.env_vars[key] || "N/A";
                    modalContent.innerHTML += `<p><strong>${title}:</strong> ${value}</p>`;
                }
            } else {
                modalContent.innerHTML = `<p>No hay variables de entorno disponibles para mostrar.</p>`;
            }

            // Mostrar el modal
            const detailsModal = new bootstrap.Modal(document.getElementById("detailsModal"));
            detailsModal.show();
        }



        document.getElementById("updatePortsBtn").addEventListener("click", async () => {
            const portSelect = document.getElementById("port");
            const updatePortsBtn = document.getElementById("updatePortsBtn");
            const serialInput = document.getElementById("NUMERO_SERIAL"); // Campo de número serial

            // Deshabilitar el botón mientras se detectan puertos
            updatePortsBtn.disabled = true;
            updatePortsBtn.textContent = "Detectando...";

            try {
                const response = await fetch('/get_ports');
                const data = await response.json();

                if (data.status === "success") {
                    portSelect.innerHTML = '<option value="" disabled selected>Selecciona un puerto...</option>';
                    data.ports.forEach(port => {
                        const option = document.createElement("option");
                        option.value = port.device;
                        option.textContent = `${port.device} (${port.description})`;
                        portSelect.appendChild(option);
                    });

                    // Habilitar el botón
                    updatePortsBtn.disabled = false;
                    updatePortsBtn.textContent = "Actualizar";

                    // Escuchar cambios en el selector de puerto
                    portSelect.addEventListener("change", async () => {
                        const selectedPort = portSelect.value;
                        if (selectedPort) {
                            try {
                                // Solicitar el número serial
                                const serialResponse = await fetch('/get_serial_number', {
                                    method: 'POST',
                                    headers: { 'Content-Type': 'application/json' },
                                    body: JSON.stringify({ port: selectedPort })
                                });
                                const serialData = await serialResponse.json();

                                if (serialData.status === "success") {
                                    // Rellenar automáticamente el campo NUMERO_SERIAL
                                    serialInput.value = serialData.serial_number;
                                } else {
                                    alert(`Error al detectar el número serial: ${serialData.message}`);
                                }
                            } catch (error) {
                                console.error("Error al obtener el número de serie:", error);
                                alert("Hubo un problema al detectar el número serial.");
                            }
                        }
                    });
                } else {
                    console.error("Error al detectar puertos:", data.message);
                    alert("Error al detectar puertos: " + data.message);
                }
            } catch (error) {
                console.error("Error al realizar la solicitud:", error);
                alert("Hubo un problema al detectar los puertos. Inténtalo de nuevo.");
            } finally {
                // Rehabilitar el botón
                updatePortsBtn.disabled = false;
                updatePortsBtn.textContent = "Actualizar";
            }
        });



        let selectedPort = null; // Variable para almacenar el puerto seleccionado

        document.getElementById("port").addEventListener("change", (event) => {
            selectedPort = event.target.value;
        });

        // Intervalo para verificar el estado del puerto
        setInterval(async () => {
            if (!selectedPort) return; // No hacer nada si no se ha seleccionado un puerto

            try {
                const response = await fetch('/check_port_status', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ port: selectedPort })
                });
                const data = await response.json();

                if (data.status === "success") {
                    const statusLabel = document.getElementById("port-status");
                    if (data.connected) {
                        statusLabel.textContent = "Conectado";
                        statusLabel.style.color = "green";
                    } else {
                        statusLabel.textContent = "Desconectado";
                        statusLabel.style.color = "red";
                        location.reload();
                    }
                } else {
                    console.error("Error al verificar estado del puerto:", data.message);
                }
            } catch (error) {
                console.error("Error al realizar la solicitud:", error);
            }
        }, 5000);

    </script>
</body>

</html>